@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');


body{
    background-image: url("background.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    margin:auto;
    padding: auto;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 3px;
}


  #container, #title, #formInput{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 50px;
  }

  #additemcontainer{
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Roboto Slab', serif;
  }

  #title{
    font-size: 300%;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    text-decoration: double;
    color: rgb(95, 92, 92);
  }

  #formInput{
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;

  }

  #typehere{
    width: 100%;
    padding-top: 2%;
    font-size: 120%;
  }

  #add{
    background: rgba(255, 253, 253, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    width:30%;
    text-align: center;
    font-size: 110%;
    margin-left: 20%;
  }

  #todolist{
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    margin-bottom: 30px;
  }

  #checkbox{
      margin-top: 2%;
  }

  /* trying and failing to change size of check mark
  .tasks input[type="checkbox"] {
    transform: scale(1.8) translateY(5px);
  } */

  #box{
    padding:2%;
    text-align: center;
    margin-left: 6%;
    font-size: 150%;
    max-width: 100%;
    
  
  }


#trash{
    background: rgba(255, 253, 253, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    max-width: 4%;
    resize:none;
    margin-left: 80%;
    padding: 2%;
}

button {
    all:unset;
}
